@import url(../css/styles.css);


.casos-exito{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.contenedor-casos-exito{
    padding-top: 3rem;
    width: 90%;
    margin: 0 auto;
    column-gap: 3rem;
    padding-bottom: 3rem;
}

.card-casos-exito img{
    width: 100%;
    height: 50%;
}

.card-body-exitos{
    padding-left: 0;
}
.card-casos-exito{
    border: none;
    transition: transform 0.3s ease;
    min-height: 100%;
}


@media (max-width: 768px) {
    .card-casos-exito img{
        height: 15rem;
    }
}

@media (max-width: 480px) {
    .contenedor-casos-exito{
        width: 80%;
    }
    .card-casos-exito{
        padding-bottom: 5rem;
    }
    .boton-exitos{
        width: 50%;
    }
}

/* Inicialmente, los elementos están ocultos y desplazados */
.fade-left, .fade-right, .fade-up, .fade-down, .fade-up {
    opacity: 0;
    transition: opacity 1s ease-out, transform 1s ease-out;
}
  
.fade-left {
    transform: translateX(-100px); /* Desplazado hacia la izquierda */
}
  
.fade-right {
    transform: translateX(100px); /* Desplazado hacia la derecha */
}

.fade-down{
    transform: translateY(100px);
}

.fade-up{
    transform: translateY(-100px);
}
  
  /* Cuando el elemento entra en la vista, le añadimos la clase 'show' */
.fade-left.show, .fade-right.show, .fade-down.show, .fade-up.show {
    opacity: 1;
    transform: translateX(0); /* Regresa a su posición original */
}
  
.card-casos-exito:hover {
    transform: scale(1.05); /* Aumenta el tamaño un 5% */
}
.card-clientes:hover{
    transform: scale(1.05);
}