@import url(../css/styles.css);

.seccion-servicios{
    margin-top: 5rem;
    padding-bottom: 5rem;
}

.contenedor-nuestros-servicios{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 5rem;
    row-gap: 5rem;
}

.contenedor-informacion-servicios{
    width: 90%;
    margin: 0 auto;
}

