@font-face {
    font-family: 'fuenteTitulo';
    src: url(../Fonts/Groningen-Regular.ttf) format('opentype');
}
@font-face {
    font-family: 'fuenteParrafo';
    src: url(../Fonts/Gotham-Light.otf) format('opentype');
}
:root{
    --blanco: #ffffff;
    --negro: #212121;
    --verdeMarino: #0097a7;
    --gris: #757575;
    --grisClaro: #f0f0f0;

    --fuenteTitulo: 'fuenteTtitulo', sans-serif;
    --fuenteParrafo: 'fuenteParrafo', sans-serif;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
    scrollbar-width: none;
    width: 100%;
}

*, *::before, *:after{
    box-sizing: inherit;
}

h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
    font-weight: bold;
}
h4{
    font-size: 1.2rem;
    font-family: var(--fuenteParrafo);
    color: var(--gris);
}
h1, h2, h3{
    text-align: center;
    font-family: var(--fuenteTitulo);
}
p, a{
    font-family: var(--fuenteParrafo);
    font-size: 1.5rem;
    text-align: left;
}