@import url(../css/styles.css);


.clientes{
    background-color: var(--blanco);
    padding-bottom: 5rem;
    padding-top: 5rem;
}

.contenedor-clientes{
    width: 90%;
    margin: 0 auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.card-clientes{
    transition: transform 0.3s ease;
    border: none;
}

.card-body h3{
    text-align: left;
}

.boton-ver-mas{
    background-color: transparent;
    color: var(--negro);
    border-color: var(--negro);
    font-size: 1.4rem;
}
.boton-ver-mas:hover{
    background-color: darkblue;
    transition: background-color 1s ease;
    color: var(--blanco);
}

@media (max-width: 768px) {
    .contenedor-clientes{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
    }
    .contenedor-carta{
        width: 100%;
    }
}

@media (max-width: 480px) {
    .contenedor-clientes{
        display: flex;
    }
    .boton-clientes{
        display: block;
        width: 50%;
    }
}