@import url(../css/styles.css);


.clientes{
    background-color: var(--blanco);
    padding-bottom: 5rem;
    padding-top: 5rem;
}

.contenedor-clientes-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    max-width: 50%;
}

.contenedor-clientes img{
    height: 20rem;
    width: 20rem;
}

.clientes-grid{
    width: 60%;
    margin: 0 auto;
    padding-top: 2rem;
}
.card-clientes{
    transition: transform 0.3s ease;
    border: none;
}
.card-clientes:hover {
    transform: scale(1.05); /* Aumenta el tamaño un 5% */
}
.card-body h3{
    text-align: left;
}
.clientes-grid .col {
margin-bottom: 5rem; /* Aumenta el espacio vertical */
}

.boton-ver-mas{
    background-color: transparent;
    color: var(--negro);
    border-color: var(--negro);
    font-size: 1.4rem;
}
.boton-ver-mas:hover{
    background-color: darkblue;
    transition: background-color 1s ease;
    color: var(--blanco);
}