@import url(../css/styles.css);

.header{
    display: flex;
    flex-direction: column;
    background-image: url(/images/Fondo\ Azul.png);
    background-size: cover;
    background-repeat: no repeat;
    min-height: 120vh;
}


.logo img{
    height: 7.5rem;
}


.navegacion-telefono{
    display: none;
}
.navegacion{
    display: flex;
    flex-direction: column;
}
.navegacion-principal{
    display: flex;
    margin-top: 2rem;
    margin-left: 8rem;
    gap: 4rem;
}
.navegacion-principal a{
    text-decoration: none;
    color: var(--blanco);
    font-size: 1.8rem;
}
.navegacion-principal a:hover{
    color: var(--verdeMarino);
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-thickness: 0.3rem;
}
.logo-navegacion-mobile{
    display: flex;
}
.boton-menu {
    color: white;
    font-size: 4rem;
    background-color: transparent;
    border: none;
    margin-bottom: 1rem;
}

.contenedor-hero{
    display: flex;
    width: 100%;
}
.contenedor-hero img{
    margin-top: 10rem;
    margin-left: 20rem;
}

@media (max-width: 1036px) {
    .logo img{
        height: 4.5rem;
    }
    .navegacion-principal{
        display: none;
    }
    .contenedor-logo{
        display: none;
    }
    .boton-menu{
        font-size: 5rem;
    }
    .contenedor-hero img{
        margin-left: 10rem;
        height: 70%;
        width: 60%;
    }
}

@media (max-width: 768px) {
    .contenedor-logo{
        display: none;
    }
    .navegacion-principal{
        display: none;
    }
    .navegacion-telefono{
        display: block;
        background-color: transparent;
    }
    .navbar-toggler-icon{
        color: white;
    }
}

@media (max-width: 480px) {
    .contenedor-hero img{
        margin-left: 5rem;
        height: 100%;
        width: 80%;
    }
}


@media (min-width: 1037px) {
    .logo-mobile{
        display: none;
    }
    .boton-menu{
        display: none;
    }
}