.header{
    display: flex;
    flex-direction: column;
    background-image: url(../../public/images/Fondo\ Azul.png);
    background-size: cover;
    background-repeat: no repeat;
    min-width: 120vh;
    min-height: 120vh;
}



.logo img{
    height: 100px;
    width: 1000px;
}
