<section class="casos-exito" id="casos-exito">

    <h3> CASOS DE EXITO </h3>

    <div class="card-group contenedor-casos-exito">

        <div class="card card-casos-exito fade-left contenedor-card" >
          <img src="/images_exitos/malecon_del_rio_noche.jpg" class="card-img-top" alt="...">
          <div class="card-body card-body-exitos">
            <h4>Urbanismo y Espacio Publico</h4>
            <h3 class="card-title">Gran Malecon</h3>
            <p class=>Proyecto de revitalización urbana a lo largo del río Magdalena, incluye un paseo peatonal de 5.5 km, áreas recreativas, culturales y gastronómicas. Ha transformado la relación de la ciudad con el río, convirtiéndose en un ícono turístico y de esparcimiento para los barranquilleros y visitantes.</p>
          </div>
        </div>

        <div class="card card-casos-exito fade-up contenedor-card" >
          <img src="/images_exitos/ecoparque-mallorquin.jpg" class="card-img-top" alt="...">
          <div class="card-body card-body-exitos">
            <h4>Urbanismo y Espacio Publico</h4>
            <h3 class="card-title">Ecoparque Cienaga de Mallorquin</h3>
            <p class=>Proyecto de revitalización urbana a lo largo del río Magdalena, incluye un paseo peatonal de 5.5 km, áreas recreativas, culturales y gastronómicas. Ha transformado la relación de la ciudad con el río, convirtiéndose en un ícono turístico y de esparcimiento para los barranquilleros y visitantes.</p>
          </div>
        </div>

        <div class="card card-casos-exito fade-right contenedor-card" >
          <img src="/images_exitos/TGLS-PUERTADEORO-001.jpg" class="card-img-top" alt="...">
          <div class="card-body card-body-exitos">
            <h4>Oficina de Estructuracion de Proyectos</h4>
            <h3 class="card-title">Puerta de Oro, Empresa de Desarrollo Caribe</h3>
            <p class=>Entidad creada para impulsar el desarrollo económico y social de Barranquilla y la región Caribe. Gestiona grandes proyectos de infraestructura y eventos de talla internacional. Su objetivo es posicionar a Barranquilla como un centro de negocios y turismo en el Caribe.</p>
          </div>
        </div>
      </div>

      <div class="d-grid col-2 mx-auto boton-exitos fade-down" >
        <a href="/nuestros_exitos" class="btn btn-primary boton-ver-mas" role="button">Nuestros Exitos</a>
      </div>

    </div>
</section>