<section class="clientes">
    <div class="contenedor-clientes-grid">
        <div class="contenedor-clientes">
            <img src="" alt="">
        </div>
        <div class="contenedor-clientes">

        </div>
        <div class="contenedor-clientes">

        </div>
        <div class="contenedor-clientes">

        </div>
    </div>
</section>