<section class="clientes" id="clientes">

    <h3>NUESTROS CLIENTES</h3>

      <div class="row row-cols-1 row-cols-md-4 g-4 contenedor-clientes">

        <div class="col contenedor-carta contenedor-card fade-left">
          <div class="card h-100 card-clientes ">
            <img src="/images_clientes/gobernacionCordoba.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h4>Cordoba</h4>
              <h3 class="card-title">Gobernacion de Cordoba</h3>
              <p class="card-text">Entidad administrativa que gobierna el departamento de Córdoba en Colombia, encargada de promover el desarrollo económico y social de la región</p>
            </div>
          </div>
        </div>

        <div class="col contenedor-carta contenedor-card fade-up">
          <div class="card h-100 card-clientes ">
            <img src="/images_clientes/alcaldiaMonteria.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h4>Monteria</h4>
              <h3 class="card-title">Alcaldia de Monteria</h3>
              <p class="card-text">Es el órgano ejecutivo del gobierno municipal de Montería, capital del departamento de Córdoba, responsable de la administración local y la prestación de servicios públicos.</p>
            </div>
          </div>
        </div>

        <div class="col contenedor-carta contenedor-card fade-up">
          <div class="card h-100 card-clientes ">
            <img src="/images_clientes/BID.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h4>Bogota</h4>
              <h3 class="card-title">BID Colombia (Banco Interamericano de Desarrollo)</h3>
              <p class="card-text">Organismo multilateral que ofrece asesorías y financiamiento para proyectos de desarrollo en Colombia, colaborando con entidades gubernamentales y privadas para fomentar el crecimiento sostenible del país.</p>
            </div>
          </div>
        </div>

        <div class="col contenedor-carta contenedor-card fade-right">
          <div class="card h-100 card-clientes ">
            <img src="/images_clientes/trasLaPerla.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h4>Santa Marta</h4>
              <h3 class="card-title">Fundacion Tras la Perla</h3>
              <p class="card-text">Organización sin ánimo de lucro que trabaja en proyectos de desarrollo social y comunitario en Santa Marta, Colombia.</p>
            </div>
          </div>
        </div>
      </div>


      <div class="d-grid col-2 mx-auto boton-clientes fade-down">
        <a href="" class="btn btn-primary boton-ver-mas none" role="button" >Ver Más</a>
      </div>
      
</section>