<section class="conectate">

    <div class="contenedor-conectate">
        <div class="hstack gap-3">
            <div class="p-2"> <h2>CONECTATE CON POTENCIA </h2> </div>
            <div class="p-2 ms-auto"><button class="boton-conectate"> CONTACTANOS </button> </div>
        </div>
    </div>


</section>