<section class="conectate">

    <div class="contenedor-conectate">
        <div class="hstack gap-3 contenedor-conectate-boton">
            <div class="p-2"> <h2>CONECTATE CON POTENCIA </h2> </div>
            <div class="col-5 boton-suscribete boton-conectate">
                <button type="submit" class="btn btn-primary btn-lg mb-3 boton-conectate"> <a href="/contactanos"> Contactanos </a></button>
            </div>
        </div>
    </div>

    <div class="contenedor-lineaH">
        <hr>
    </div>
    
    <div class="contenedor-icono">
        <a href="https://www.linkedin.com/company/potencia/mycompany/" target="_blank"> <img src="/iconos/LinkedIn.png" alt="" class="linkedIn" ></a>
    </div>

</section>