<section class="contactanos">

    <div class="container contenedor-contactanos fade-up">
        <h2 class="text-center text-center-contactanos">Nuestra Ubicacion</h2>
        <ul class="nav nav-tabs justify-content-center" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#bogota" role="tab">Barranquilla</a>
            </li>
        </ul>
    
        <div class="tab-content mt-3">
            <div class="tab-pane fade show active" id="bogota" role="tabpanel">
                <div class="row">
                    <div class="col-md-4 col-12 p-3" style="background-color: #001F3F; color: white;">
                        <h4>Barranquilla</h4>
                        <p>Carrera 55 #74-126<br>
                        Barrio El Prado<br>
                        080002 - Barranquilla <br>
                        Colombia</p>
                        <p>Voice: +57 (605) 2516513<br>Fax: ... <br> Correo: info@potencia.com.co </p>
                        <a href="https://www.google.com/maps" target="_blank" class="text-white d-block">Open in Google Maps →</a>
                    </div>
                    <div class="col-md-8 col-12">
                        <!-- Aquí pega el iframe del mapa de Google Maps -->
                        <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d979.1214925191307!2d-74.8028454604718!3d11.002118413293712!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTHCsDAwJzA3LjkiTiA3NMKwNDgnMDguOCJX!5e0!3m2!1ses-419!2sco!4v1730385606440!5m2!1ses-419!2sco" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>



