<div class="container my-5 mainsection">
    <!-- Texto Principal Mejorado en una Card -->
    <div class="row section-padding">
        <div class="col-12">
            <div class="card hover-shadow" style="border: none;">
                <div class="card-body">
                    <p class="text-block">
                        Potencia Exponencial Consultores es una firma de consultoría estratégica enfocada en el desarrollo y transformación de ciudades, territorios y fundaciones. Nuestro equipo de expertos ofrece servicios integrales, desde la estructuración de equipos de gerencia territorial hasta el diseño de estrategias para el desarrollo de infraestructura, con un enfoque en proyectos de alto impacto.
                    </p>
                    <p class="text-block">
                        Nos caracterizamos por nuestra capacidad para implementar metodologías eficientes en la planificación y gestión de proyectos, optimizando recursos y alcanzando objetivos concretos. Acompañamos a nuestros clientes en cada fase del proyecto, asegurando que sus necesidades y expectativas estén alineadas para lograr un impacto positivo y duradero en los territorios donde operamos.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Números estilizados con línea divisoria -->
    <div class="row mb-5 position-relative text-center">
        <div class="col-lg-6">
            <span class="number">+15</span>
            <p class="label">años</p>
            <p class="description">de experiencia transformando territorios</p>
        </div>
        <div class="divider d-none d-lg-block"></div> <!-- Línea vertical solo visible en pantallas grandes -->
        <div class="col-lg-6">
            <span class="number">+4</span>
            <p class="label">Millones</p>
            <p class="description">de personas beneficiadas por el trabajo con los territorios</p>
        </div>
    </div>

    <br>

    <!-- Misión y Visión con mismo tamaño y espaciado en responsive -->
<div class="row equal-height-cards">
    <div class="col-md-6 card-margin">
        <div class="card hover-shadow">
            <div class="card-body">
                <h4 class="card-title text-center">MISIÓN</h4>
                <p class="card-text">
                    Proporcionar servicios de consultoría integral a gobiernos locales, regionales y organizaciones, aprovechando nuestra experiencia en los sectores público y privado. Nos dedicamos a diseñar e implementar estrategias que fomenten el desarrollo, impulsen la cooperación internacional y optimicen la gestión pública.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6 card-margin">
        <div class="card hover-shadow">
            <div class="card-body">
                <h4 class="card-title text-center">VISIÓN</h4>
                <p class="card-text">
                    Ser catalizadores del progreso, impulsando a ciudades y territorios a desbloquear su máximo potencial y alcanzar un crecimiento transformador y sostenible. Nuestra aspiración es fomentar el desarrollo integral de cada comunidad, capitalizando sus recursos y oportunidades para liderar el cambio hacia el futuro.
                </p>
            </div>
        </div>
    </div>
</div>

    <!-- Nueva sección: Metodología Potencia -->
    <div class="row methodology-section align-items-center">
        <div class="col-md-6 d-flex justify-content-center">
            <img src="../../public/images/metodologiaPotencia-removebg-preview.png" alt="Metodología Potencia" class="methodology-image">
        </div>
        <div class="col-md-6 text-center">
            <h2 class="methodology-title text-uppercase fw-bold">Enfoque Integral de Gerencia</h2>
            <p class="methodology-text">
                La metodología se enfoca en una gestión holística de proyectos para entidades subnacionales, estructurada en torno a seis elementos clave: ingresos, proyectos, financiación, ejecución, operación y mantenimiento, y comunicación. El cumplimiento efectivo de estos elementos genera confianza, que se posiciona como el eje central del modelo.
            </p>
            <p class="methodology-text">
                Además, la metodología promueve una visión estratégica a largo plazo alineada con un "Plan 20 años", favoreciendo una planificación continua y adaptable a diferentes organizaciones y territorios. Su diseño cíclico sugiere un proceso de retroalimentación constante, centrado en asegurar el cumplimiento de los proyectos y objetivos planteados.
            </p>
        </div>
    </div>
</div>
