<div class="container py-5">
    <!-- Encabezado -->
    <div class="text-center mb-5 header-card">
        <p class="company-description">
            Potencia Exponencial Consultores es una firma de consultoría estratégica enfocada en el desarrollo y transformación de ciudades, territorios y fundaciones. Nuestro equipo de expertos ofrece servicios integrales, abarcando desde la estructuración de equipos de gerencia territorial hasta el diseño de estrategias para el desarrollo de infraestructura, con un enfoque en proyectos de alto impacto. Nos caracterizamos por nuestra capacidad para implementar metodologías eficientes en la planificación y gestión de proyectos, lo que permite optimizar recursos y alcanzar objetivos concretos.<br><br>
            Nuestro acompañamiento abarca aspectos clave como la administración, los temas legales, financieros y operativos, asegurando que cada fase del proyecto esté alineada con las necesidades y expectativas de nuestros clientes. En Potencia Exponencial Consultores, trabajamos en estrecha colaboración con nuestros clientes para transformar sus visiones en realidades tangibles y sostenibles. Nuestra experiencia nos permite abordar desafíos complejos, asegurando soluciones que promuevan el desarrollo económico y social a largo plazo, generando un impacto positivo y duradero en los territorios donde operamos.
        </p>
    </div>

    <!-- Estadísticas -->
    <div class="row text-center mb-5 justify-content-center align-items-center stats-container">
        <div class="col-md-5 d-flex justify-content-center">
            <div class="stats">
                <h3 class="stats-number bolder">+15</h3>
                <p class="stats-label">Años</p>
                <p class="stats-text">de experiencia transformando territorios</p>
            </div>
        </div>
        <div class="col-md-1 d-flex justify-content-center">
            <div class="divider"></div>
        </div>
        <div class="col-md-5 d-flex justify-content-center">
            <div class="stats">
                <h3 class="stats-number bolder">+4</h3>
                <p class="stats-label">Millones</p>
                <p class="stats-text">de personas beneficiadas por el trabajo con los territorios</p>
            </div>
        </div>
    </div>

    <!-- Misión -->
    <div class="text-center mb-5 card-effect">
        <h3 class="section-title">MISIÓN</h3>
        <br>
        <p class="section-text">
            Proporcionar servicios de consultoría integral a gobiernos locales, regionales y organizaciones, aprovechando nuestra experiencia en los sectores público y privado. Nos dedicamos a diseñar e implementar estrategias innovadoras de desarrollo, fomentar la cooperación internacional y optimizar la gestión pública. A través de soluciones personalizadas y sostenibles, trabajamos para fortalecer las capacidades institucionales, impulsar el crecimiento económico y mejorar la calidad de vida en comunidades que servimos, centrándonos en el desarrollo económico, social, urbano y ambiental, y aprovechando las fortalezas únicas de cada territorio.
        </p>
    </div>

    <!-- Visión -->
    <div class="text-center card-effect">
        <h3 class="section-title">VISIÓN</h3>
        <br>
        <p class="section-text">
            Ser catalizadores del progreso, impulsando a ciudades y territorios a desbloquear su máximo potencial y alcanzar un crecimiento transformador y sostenible. Nuestra aspiración es fomentar el desarrollo integral de cada comunidad, consolidando sus estructuras y fortalezas, para que logren el cambio en el futuro. Buscamos construir un entorno donde cada ciudadano pueda vivir en una ciudad clara y estratégicamente equipada, que cuida sus recursos y oportunidades, logrando niveles sin precedentes de desarrollo económico, social y ambiental, fortaleciendo los lazos comunitarios y preservando el medio ambiente para un futuro sostenible.
        </p>
    </div>

       <!-- Metodología Potencia -->
       <div class="row methodology-container mb-5">
        <h3 class="text-center section-title mb-4">METODOLOGÍA POTENCIA</h3>
        <div class="col-md-6 d-flex justify-content-center">
            <img src="/images/metodologiaPotencia-removebg-preview.png" alt="Metodología Potencia" class="img-fluid methodology-image">
        </div>
        <div class="col-md-6 text-left methodology-description">
            <h3 style="color: #212121;">ENFOQUE INTEGRAL DE GERENCIA</h3>
           
            <p style=" color: #212121; font-size: 16px; line-height: 1.8; text-align: justify;" >
                La metodología se enfoca en una gestión holística de proyectos para entidades subnacionales, estructurada en torno a seis elementos clave: ingresos, proyectos, financiación, ejecución, operación y mantenimiento, y comunicación. El cumplimiento efectivo de estos elementos genera confianza, que se posiciona como el eje central del modelo.
            </p>
            <p style=" color: #212121; font-size: 16px; line-height: 1.8; text-align: justify;">
                Además, la metodología promueve una visión estratégica a largo plazo alineada con un "Plan 20 años", favoreciendo una planificación continua y adaptable a diferentes organizaciones y territorios. Su diseño cíclico sugiere un proceso de retroalimentación constante, centrado en asegurar el cumplimiento de los proyectos y objetivos planteados.
            </p>
        </div>
    </div>

    
</div>