---
// Componente Navbar
---
<header class="header">

  <nav class="navegacion">
    <div class="contenedor-logo"> <a class="logo" href=""> <img src="../../public/images/potenciaBlanco.png" alt=""></a></div>
    <div class="navegacion-principal">
      <a href=""> Inicio </a>
      <a href=""> Sobre Nosotros </a>
      <a href=""> Casos de Exito </a>
      <a href=""> Nuestro Equipo </a>
    </div>
  </nav>


</header>
