<section class="seccion-exitos">
    <div class="contenedor-exitos-hero">
        <h2> NUESTROS EXITOS </h2>
    </div>
</section>

<section class="seccion-nuestros-exitos">

    <div class="contenedor-nuestros-exitos-cards">

        <div class="card-group c-g">

          <div class="card-group card-group-c-g">

            <div class="card contenedor-card fade-left">
              <img src="/images_exitos/ecoparque-mallorquin.jpg" class="card-img-top" alt="...">
              <div class="card-body card-body-size">
                <h4>Urbanismo y Espacio Público</h4>
                <h3 class="card-title">Ecoparque de la Ciénaga de Mallorquín</h3>
                <p class="card-text">Iniciativa de recuperación ambiental y desarrollo sostenible en la Ciénaga de Mallorquín. Busca proteger el ecosistema, promover la educación ambiental y ofrecer espacios de recreación, incluye senderos ecológicos, miradores y áreas de conservación de flora y fauna nativa.</p>
              </div>
            </div>

            <div class="card card-2 contenedor-card fade-up">
              <img src="/images_exitos/malecon_del_rio_noche.jpg" class="card-img-top" alt="...">
              <div class="card-body card-body-size">
                <h4>Urbanismo y Espacio Público</h4>
                <h3 class="card-title">Gran Malecón</h3>
                <p class="card-text">Proyecto de revitalización urbana a lo largo del río Magdalena, incluye un paseo peatonal de 5.5 km, áreas recreativas, culturales y gastronómicas. Ha transformado la relación de la ciudad con el río, convirtiéndose en un ícono turístico y de esparcimiento para los barranquilleros y visitantes.</p>
              </div>
            </div>

            <div class="card contenedor-card fade-right">
              <img src="/images_exitos/TGLS-PUERTADEORO-001.jpg" class="card-img-top" alt="...">
              <div class="card-body card-body-size">
                <h4>Oficina de Estructuración de Proyectos</h4>
                <h3 class="card-title">Puerta de Oro, Empresa de Desarrollo Caribe</h3>
                <p class="card-text">Entidad creada para impulsar el desarrollo económico y social de Barranquilla y la región Caribe. Gestiona grandes proyectos de infraestructura y eventos de talla internacional. Su objetivo es posicionar a Barranquilla como un centro de negocios y turismo en el Caribe.</p>
              </div>
            </div>

            <div class="card contenedor-card fade-left">
              <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
              <div class="card-body card-body-size">
                <h4>Soluciones de Operación y Mantenimiento para Infraestructura Pública</h4>
                <h3 class="card-title">Bilingüismo</h3>
                <p class="card-text">En Colombia, el limitado dominio del inglés restringe oportunidades laborales y académicas. Para combatir esto, Barranquilla implementó un programa integral de bilingüismo en colegios públicos, enfocado en la formación de docentes y estudiantes. Este esfuerzo creó el primer colegio público bilingüe del país, beneficiando a 95,000 estudiantes y 2,000 docentes.</p>
              </div>
            </div>

            <div class="card card-2 contenedor-card fade-up">
              <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
              <div class="card-body card-body-size">
                <h4>Instrumentos de Planeación Territorial</h4>
                <h3 class="card-title">Barranquilla 2100</h3>
                <p class="card-text">Barranquilla 2100 busca enfrentar retos urbanos y climáticos mediante un plan maestro de infraestructura sostenible, movilidad y resiliencia, para mejorar la calidad de vida y posicionar a la ciudad competitivamente.</p>
              </div>
            </div>

            <div class="card contenedor-card fade-right">
              <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
              <div class="card-body card-body-size">
                <h4>Soluciones de Operación y Mantenimiento para Infraestructura Pública</h4>
                <h3 class="card-title">Juegos Centroamericanos y del Caribe 2018</h3>
                <p class="card-text">Los Juegos Centroamericanos y del Caribe 2018 impulsaron la infraestructura deportiva y el perfil internacional de Barranquilla, fortaleciendo su capacidad para eventos masivos y promoviendo el deporte local, dejando así un valioso legado urbano y deportivo en la ciudad.</p>
              </div>
            </div>

            <div class="card contenedor-card fade-left">
              <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
              <div class="card-body card-body-size">
                <h4>Comunicaciones 360°</h4>
                <h3 class="card-title">Jaime Pumarejo, Mejor Alcalde de Colombia</h3>
                <p class="card-text">Jaime Pumarejo lideró un plan de transformación en Barranquilla, restaurando la confianza ciudadana. Impulsó proyectos como el Malecón y el ecoparque Ciénaga de Mallorquín, atrayendo inversión y turismo, y destacó por los Juegos Centroamericanos y del Caribe 2018, consolidando la ciudad como un modelo de progreso.</p>
              </div>
            </div>

            <div class="card card-2 contenedor-card fade-up">
              <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
              <div class="card-body card-body-size">
                <h4>Instrumentos de Planeación Territorial.</h4>
                <h3 class="card-title">Ciudad del Rio</h3>
                <p class="card-text">Barranquilla ha mejorado su desarrollo urbano y social, cerrando brechas con otras ciudades. En 2016, el Gran Malecón transformó el acceso al río Magdalena, creando 133,000 metros cuadrados de nuevo espacio público. Este proyecto, el más visitado de Colombia, impulsará el desarrollo de 650 hectáreas cercanas y 50,000 viviendas.</p>
              </div>
            </div>

            <div class="card contenedor-card fade-right">
              <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
              <div class="card-body card-body-size">
                <h4>Desarrollo Económico y Turismo</h4>
                <h3 class="card-title">Puerta de Oro, Centro de Eventos del Caribe</h3>
                <p class="card-text">Barranquilla carecía de espacios para eventos hasta la inauguración del Puerta de Oro en 2017, un centro de 34,500 metros cuadrados. Operado por Corferias, ha creado más de 20,000 empleos y atraído eventos internacionales, convirtiendo a la ciudad en el destino líder de festivales y eventos en Sudamérica para 2024.</p>
              </div>
            </div>

            <div class="card contenedor-card fade-left">
              <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
              <div class="card-body card-body-size">
                <h4>Soluciones de Operación y Mantenimiento para Infraestructura Pública</h4>
                <h3 class="card-title">Red de Salud Pública de Barranquilla</h3>
                <p class="card-text">La transformación de la salud en Barranquilla inició en 2008 tras el fracaso de REDEHOSPITAL E.S.E. Con Caprecom, la cobertura del régimen subsidiado llegó al 94.5%, y luego, MiRed IPS alcanzó el 100% de cobertura y un 71% de satisfacción, siendo reconocida en 2022 como la mejor en Atención Primaria en Salud del país.</p>
              </div>
            </div>

            <div class="card contenedor-card fade-right contenedor-card-last">
              <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
              <div class="card-body card-body-size">
                <h4>Gerencia de Territorio</h4>
                <h3 class="card-title">Transformación Integral de Barranquilla</h3>
                <p class="card-text">Barranquilla, tras enfrentar una grave crisis social y de salud, inició una transformación bajo un liderazgo visionario, mejorando infraestructura, salud y educación. Hoy, es un modelo de éxito, destacando por eventos importantes y el centro "Puerta de Oro", que simboliza su nueva vocación económica y cultural.</p>
              </div>
            </div>

          </div>

        </div>
    </div>
</section>