<section class="seccion-servicios">
    <h2> NUESTROS SERVICIOS </h2>

    <div class="contenedor-nuestros-servicios">

        <div class="card mb-3 contenedor-informacion-servicios fade-left contenedor-card">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://via.placeholder.com/150" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Gerencia de Territorio</h5>
                  <p class="card-text">Metodología de trabajo gerencial que busca acompañar a los entes territoriales para mejorar sus indicadores de gestión y buscar eficiencia en las labores de la administración pública, enfocado en proyectos emblemáticos, contratación, presupuesto, área financiera y jurídica.</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
        </div>

        <div class="card mb-3 contenedor-informacion-servicios fade-right contenedor-card">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://via.placeholder.com/150" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Urbanismo y Espacio publico</h5>
                  <p class="card-text">Solución integral para transformar ciudades y comunidades enfocado en planificación urbana, diseño de espacios públicos, acompañamiento durante la ejecución de obras y movilidad y transporte.</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
        </div>

        <div class="card mb-3 contenedor-informacion-servicios fade-left contenedor-card">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://via.placeholder.com/150" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Desarrollo Economico y Turismo</h5>
                  <p class="card-text">Diseño e implementación de estrategias que fomenten el crecimiento económico, el turismo, la creación de empleo y la atracción de inversiones incluyendo el desarrollo de planes y políticas económicas a largo plazo que promuevan un crecimiento equilibrado y sostenible</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
        </div>

        <div class="card mb-3 contenedor-informacion-servicios fade-right contenedor-card">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://via.placeholder.com/150" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Finanzas Publicas</h5>
                  <p class="card-text">Asesoría y apoyo a los gobiernos locales en la gestión eficiente y transparente de sus recursos financieros, incluyendo planificación, administración y supervisión de los recursos financieros a través de un tablero de control asegurando una gestión financiera y fiscal responsable y sostenible</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
        </div>

        <div class="card mb-3 contenedor-informacion-servicios fade-left contenedor-card">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://via.placeholder.com/150" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Desarrollo Economico y Turismo</h5>
                  <p class="card-text">Diseño e implementación de estrategias que fomenten el crecimiento económico, el turismo, la creación de empleo y la atracción de inversiones incluyendo el desarrollo de planes y políticas económicas a largo plazo que promuevan un crecimiento equilibrado y sostenible</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
        </div>

        <div class="card mb-3 contenedor-informacion-servicios fade-right contenedor-card">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://via.placeholder.com/150" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Finanzas Publicas</h5>
                  <p class="card-text">Asesoría y apoyo a los gobiernos locales en la gestión eficiente y transparente de sus recursos financieros, incluyendo planificación, administración y supervisión de los recursos financieros a través de un tablero de control asegurando una gestión financiera y fiscal responsable y sostenible</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
        </div>

    </div>
</section>