<section class="seccion-servicios">
    <h2> NUESTROS SERVICIOS </h2>

    <div class="contenedor-nuestros-servicios">

        <div class="card mb-3 contenedor-informacion-servicios fade-left contenedor-card">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://via.placeholder.com/150" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Gerencia de Territorio</h5>
                  <p class="card-text">Metodología de trabajo gerencial que busca acompañar a los entes territoriales para mejorar sus indicadores de gestión y buscar eficiencia en las labores de la administración pública, enfocado en proyectos emblemáticos, contratación, presupuesto, área financiera y jurídica.</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
        </div>

        <div class="card mb-3 contenedor-informacion-servicios fade-right contenedor-card">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://via.placeholder.com/150" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Urbanismo y Espacio publico</h5>
                  <p class="card-text">Solución integral para transformar ciudades y comunidades enfocado en planificación urbana, diseño de espacios públicos, acompañamiento durante la ejecución de obras y movilidad y transporte.</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
        </div>

        <div class="card mb-3 contenedor-informacion-servicios fade-left contenedor-card">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://via.placeholder.com/150" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Desarrollo Economico y Turismo</h5>
                  <p class="card-text">Diseño e implementación de estrategias que fomenten el crecimiento económico, el turismo, la creación de empleo y la atracción de inversiones incluyendo el desarrollo de planes y políticas económicas a largo plazo que promuevan un crecimiento equilibrado y sostenible</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
        </div>

        <div class="card mb-3 contenedor-informacion-servicios fade-right contenedor-card">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://via.placeholder.com/150" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Finanzas Publicas</h5>
                  <p class="card-text">Asesoría y apoyo a los gobiernos locales en la gestión eficiente y transparente de sus recursos financieros, incluyendo planificación, administración y supervisión de los recursos financieros a través de un tablero de control asegurando una gestión financiera y fiscal responsable y sostenible</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
        </div>

        <div class="card mb-3 contenedor-informacion-servicios fade-left contenedor-card">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://via.placeholder.com/150" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Soluciones de operacion y mantenimiento para infraestrucutra publica</h5>
                  <p class="card-text">Diseño de soluciones técnicas, financieras y jurídicas para la operación y el mantenimiento, garantizando la sostenibilidad de diversas infraestructuras públicas. Estas incluyen parques, zonas verdes, vías y transporte, instituciones educativas, centros de salud, infraestructura turística, de servicios públicos y deportiva.</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
        </div>

        <div class="card mb-3 contenedor-informacion-servicios fade-right contenedor-card">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://via.placeholder.com/150" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Instrumentos de planeacion territorial</h5>
                  <p class="card-text">Asesoría y desarrollo de estrategias para la visión de territorio a mediano y largo plazo. Especializado en la planeación territorial mediante planes de desarrollo, barriales, zonales, parciales, de reordenamiento y planes maestros de desarrollo urbano, equipamientos e infraestructura. </p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
        </div>

        <div class="card mb-3 contenedor-informacion-servicios fade-left contenedor-card">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://via.placeholder.com/150" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Analitica de datos</h5>
                  <p class="card-text">Asesoría y apoyo a entidades públicas y privadas mediante el uso y análisis de datos, incluyendo inteligencia artificial y herramientas digitales, para la toma de decisiones y la mejora del desempeño organizacional. </p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
        </div>

        <div class="card mb-3 contenedor-informacion-servicios fade-right contenedor-card">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://via.placeholder.com/150" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Relaciones y cooperacion internacional</h5>
                  <p class="card-text">Consultoría en estrategias para articular proyectos de cooperación y relaciones internacionales en el ámbito público y privado. Desarrollo de agendas internacionales mediante asistencia técnica y financiera, facilitando la consecución de recursos y el posicionamiento de marca de organizaciones públicas, privadas y no gubernamentales. </p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
        </div>

        <div class="card mb-3 contenedor-informacion-servicios fade-left contenedor-card">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://via.placeholder.com/150" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Comunicaciones 360°</h5>
                  <p class="card-text">Estrategia integral de comunicación 360° diseñada para fortalecer la conexión y generar contacto directo entre los gobernantes y sus ciudadanos utilizando múltiples canales y plataformas para crear un diálogo bidireccional continuo, transparente y efectivo. </p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
        </div>

        <div class="card mb-3 contenedor-informacion-servicios fade-right contenedor-card">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://via.placeholder.com/150" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Estudios e investigaciones</h5>
                  <p class="card-text">Recopilación, análisis y generación de conocimiento para mejorar la toma de decisiones y el desarrollo de políticas públicas mediante investigaciones rigurosas y estudios detallados sobre diversos aspectos del desarrollo urbano y la gestión pública. Incluye investigación aplicada, análisis de datos y consultoría técnica. </p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
        </div>

        <div class="card mb-3 contenedor-informacion-servicios fade-left contenedor-card">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://via.placeholder.com/150" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Tracker de territorio</h5>
                  <p class="card-text">Informe integral basado en un riguroso sistema de encuestas propias, diseñado para el análisis territorial de múltiples indicadores socioeconómicos. Evalúa el desarrollo económico, niveles de pobreza, estadísticas del mercado laboral y la percepción ciudadana sobre la gestión gubernamental, entre otros. </p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
        </div>

        <div class="card mb-3 contenedor-informacion-servicios fade-right contenedor-card">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://via.placeholder.com/150" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Soluciones de servicios publicos</h5>
                  <p class="card-text">Apoyo, asesoría y acompañamiento en la estructuración y diseño de mejoras en los diferentes servicios públicos domiciliarios de los territorios, incluyendo acueducto, alcantarillado, aseo, gas y energía, con el objetivo de optimizar y mejorar las condiciones de la prestación de estos servicios. Además de la estructuración de proyectos asociados a estos servicios y de las concesiones de servicios públicos domiciliarios, identificando oportunidades de mejora. </p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
        </div>

        <div class="card mb-3 contenedor-informacion-servicios fade-left contenedor-card">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://via.placeholder.com/150" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Gerencia de ejecucion de proyectos</h5>
                  <p class="card-text">Desarrollo de estructuras y metodologías de gerencia para ejecutar proyectos de infraestructura de manera eficiente, cumpliendo con plazos y presupuestos. Utilizamos soluciones tecnológicas avanzadas y analítica de datos para optimizar cada fase del proyecto, desde la planificación y gestión de recursos hasta el monitoreo y control continuo. Este servicio mejora la comunicación y coordinación entre los involucrados, prevé riesgos y oportunidades, y proporciona informes detallados del progreso. Esto resulta en una ejecución más rápida y eficiente, reducción de costos, cumplimiento de plazos y decisiones estratégicas informadas.  </p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
        </div>

        <div class="card mb-3 contenedor-informacion-servicios fade-right contenedor-card">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="https://via.placeholder.com/150" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Outsorcing de oficina de estructuracion de proyectos</h5>
                  <p class="card-text">Apoyo, asesoría y acompañamiento en la estructuración y diseño de mejoras en los diferentes servicios públicos domiciliarios de los territorios, incluyendo acueducto, alcantarillado, aseo, gas y energía, con el objetivo de optimizar y mejorar las condiciones de la prestación de estos servicios. Además de la estructuración de proyectos asociados a estos servicios y de las concesiones de servicios públicos domiciliarios, identificando oportunidades de mejora. </p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
        </div>

    </div>
</section>