
<main class="sobre-nosotros">
    <div class="contenedor-sobre-nosotros">
        <p> Somos parte de una generación que a finales de los años 90 y principios de este milenio nos vimos obligados a salir de nuestro territorio a causa de la inseguridad; nos rodeaba una sociedad en decadencia, sin confianza, consumida por lideres corruptos y de poco hacer. El resultado no fue otro que una ciudad quebrada, que no era llamativa para atraer inversiones y sus habitantes estábamos desesperanzados. No veíamos un futuro próspero así que, nos fuimos. <br> <br>

            Sin embargo, tiempo después, llegaron vientos de cambio con un gran líder que inspiró y se imaginó una realidad diferente, donde se podría llegar a ser una ciudad soñada. Nos sumamos a ese cambio, le apostamos a volver y nos vinculamos al equipo que trabajaría para que nuestro territorio llegara a ser como esos grandes lugares en el mundo para vivir, como Nueva York, París o Londres. <br> <br>
            
            En ese tiempo, trabajando por nuestra ciudad, descubrimos el gran impacto que se puede tener en un territorio y sus habitantes al construir institucionalidad y fortalecer ciclos de innovación, incrementar capacidades en temas de desarrollo territorial y generar confianza entre el gobierno, la empresa privada y la ciudadanía. <br> <br>
            
            Vimos como la confianza recuperada nos permitió incrementar los ingresos hasta en un 1000%; se idearon y materializaron proyectos que nos decían eran imposibles, y no solo se hicieron sino que contaban con sostenibilidad a largo plazo, los que a su vez resultó en un crecimiento económico por encima del promedio, con un incremento de los ingresos por habitante casi el doble de la media nacional, reducción de la pobreza a la mitad y una sociedad optimista y pujante, capaz de afrontar cualquier reto para seguir creciendo. <br> <br>
            
            Logramos posicionar nuestro territorio a nivel nacional e internacional y ganar la sede de importantes eventos como la Asamblea del BID, el Congreso Mundial de Juristas, los Juegos Centroamericanos, los Juegos Panamericanos e incluso, conseguimos que nos consideraran como opción para ser la sede de un Gran Premio de Fórmula 1. <br> <br>
            
            Luego de este viaje trabajando por nuestra ciudad, varios nos juntamos y estudiamos de manera crítica y metódica todo lo sucedido durante ese tiempo y pensamos en cómo podíamos ayudar a replicarlo en otros territorios. Basados en nuestra experiencia desarrollamos un método de evaluación del territorio que nos permite determinar las acciones necesarias para llevar cualquier territorio a su mejor versión. <br> <br>
            
            Todos los territorios estamos interconectados y desde Potencia creemos que no podemos seguir creciendo si no lo hacemos juntos como un solo país, como un solo planeta. ¡Nos encantaría contarte cómo hemos logrado que nuestra ciudad se transforme, tenga presencia internacional y sobre cómo podemos apoyarte para hacer de tu territorio su mejor versión! <br> <br>
            
            En Potencia creemos en el valor de la familia y que trabajar por desarrollar un territorio es trabajar para potenciar las familias que viven en este. En sí, nosotros mismos somos una gran familia; nos levantamos cada día, unos a trotar, otros a montar bicicleta, otros a jugar tenis, fútbol, golf o simplemente ir al gimnasio y ejercitar nuestro cuerpo y mente para luego darla toda obsesionados con trabajar para que cada territorio que tocamos alcance su máximo potencial y que sus habitantes y las familias que lo componen logren su versión más productiva y feliz. <br> <br>
            
            Llámanos, solicita una cita virtual y recibe un diagnóstico gratuito de nuestra metodología de evaluación de potencial territorial.  
        </p>
    </div>
</main>