<div style="background-color: #f8f8f8; width: 100%; padding: 50px 0;">
    <div class="container my-5 team-section">
        <h2 class="text-center mb-5">NUESTRA GENTE</h2>
        <div class="row justify-content-center">
            <!-- Card 1 -->
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card team-card hover-effect">
                    <div class="card-body text-center">
                        <img src="/Fotos Potencia/FOTOS SOCIOS EDITADAS/CarlosAcosta.jpg" alt="Carlos Acosta" class=" team-img">
                        <h5 class="team-name">Carlos Acosta Juliao</h5>
                        <p class="team-title text-center">Director Ejecutivo</p>
                        <p class="team-description">
                            Ingeniero Electrónico graduado de la Universidad de Columbia, New York, con una destacada trayectoria en gestión pública y desarrollo urbano. Su experiencia abarca desde la administración municipal hasta la dirección de proyectos de gran envergadura...
                        </p>
                    </div>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card team-card hover-effect">
                    <div class="card-body text-center">
                       
                         <img src="/Fotos Potencia/FOTOS SOCIOS EDITADAS/JorgeGarcia.jpg" alt="Jorge García" class="team-img"> 
                        <h5 class="team-name">Jorge García Ibagón</h5>
                        <p class="team-title text-center">Director Ejecutivo</p>
                        <p class="team-description">
                            Ingeniero Industrial con especialización en Marketing Estratégico y MBA, con amplia experiencia en gestión comercial y marketing en diversas industrias, desde el sector automotriz hasta los medios de comunicación...
                        </p>
                    </div>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card team-card hover-effect">
                    <div class="card-body text-center">
                         <img src="/Fotos Potencia/FOTOS SOCIOS EDITADAS/RicardoVives.jpg" alt="Ricardo Vives" class="team-img"> 
                        <h5 class="team-name">Ricardo Vives Guerra</h5>
                        <p class="team-title text-center">Socio</p>
                        <p class="team-description">
                            Arquitecto con maestrías en Diseño y Planificación de Sistemas Urbanos. Destacado profesional en desarrollo inmobiliario y gestión de proyectos urbanos de gran escala...
                        </p>
                    </div>
                </div>
            </div>
            <!-- Card 4 -->
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card team-card hover-effect">
                    <div class="card-body text-center">
                       
                       <img src="/Fotos Potencia/FOTOS SOCIOS EDITADAS/RicardoPlata.jpg" alt="Ricardo Plata" class="team-img">
                        <h5 class="team-name">Ricardo Plata Sarabia</h5>
                        <p class="team-title text-center">Socio</p>
                        <p class="team-description">
                            Ingeniero Industrial con maestría en Desarrollo Económico Urbano. Experto en desarrollo económico local y gestión de eventos y espacios de gran envergadura...
                        </p>
                    </div>
                </div>
            </div>
            <!-- Card 5 -->
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card team-card hover-effect">
                    <div class="card-body text-center">
                         <img src="/Fotos Potencia/FOTOS SOCIOS EDITADAS/JuanAlvarado.jpg" alt="Juan Alvarado" class="team-img">
                        <h5 class="team-name">Juan Alvarado Nivia</h5>
                        <p class="team-title text-center">Socio</p>
                        <p class="team-description">
                            Economista con maestría y amplia experiencia en el sector público. Reconocido por su innovación en la gestión pública y su contribución al desarrollo económico...
                        </p>
                    </div>
                </div>
            </div>
            <!-- Card 6 -->
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card team-card hover-effect">
                    <div class="card-body text-center">
                         <img src="/Fotos Potencia/FOTOS SOCIOS EDITADAS/AlbertoBernal.jpg" alt="Alberto Bernal" class="team-img"> 
                        <h5 class="team-name">Alberto Bernal Parada</h5>
                        <p class="team-title text-center">Socio</p>
                        <p class="team-description">
                            Administrador de Empresas con especialización en Finanzas. Experto en gestión financiera y administrativa en diversos sectores, desde la minería hasta la construcción...
                        </p>
                    </div>
                </div>
            </div>
            <!-- Card 7 -->
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card team-card hover-effect">
                    <div class="card-body text-center">
                        <img src="/Fotos Potencia/FOTOS SOCIOS EDITADAS/JairoDeCastro.jpg" alt="Jairo de Castro" class="team-img">
                        <h5 class="team-name">Jairo de Castro Peña</h5>
                        <p class="team-title text-center">Socio</p>
                        <p class="team-description">
                            Administrador de Empresas y especialista en Finanzas. Acumula más de 20 años en cargos gerenciales. Ha sido Gerente General de Triple A, Surtigas y Gases del Pacífico...
                        </p>
                    </div>
                </div>
            </div>
            <!-- Botón Ver Más -->
            <div class="col-12 text-center mt-4">
                <a href="/nuestra_gente" class="btn ver-mas">Ver Más</a>
            </div>
        </div>
    </div>
</div>
